In [1]:
import pandas as pd

In [5]:
#df = pd.read_clipboard(index_col=[0,1,2,3])

In [6]:
#writefilename = "Transmission_Europe_nodes_2050_snapshot-MW.tsv"
#compression_opts = dict(method='zip',archive_name=writefilename)
#df.to_csv("data/graabak-et-al-2019/processed/" + writefilename + ".zip", sep="\t", compression=compression_opts)

In [9]:
df = pd.read_csv(
    "data/graabak-et-al-2019/processed/Transmission_Europe_nodes_2050_snapshot-MW.tsv.zip",
    sep = "\t",
    compression = "zip",
    index_col = [0,1,2,3]
)

In [10]:
df

                                                           [MW]
to_node_# to_node_country from_node_# from_node_country
4         es              25          fr                  16900
52        it              25          fr                   5800
25        fr              47          ch                   9500
                          96          ie                   5700
                          90          uk                  15000
...                                                         ...
115       ns              79          no                 100000
116       ns              88          se                 100000
80        no              7981        no                    900
8081      no              82          no                   2000
                          7981        no                   7000

[117 rows x 1 columns]

In [23]:
df.sort_index().loc[(slice(None), "no", slice(None), slice(None)), :]

                                                          [MW]
to_node_# to_node_country from_node_# from_node_country
79        no              7981        no                 13700
                          80          no                  5500
                          92          uk                  5000
7981      no              81          no                 13700
                          93          uk                  1400
80        no              7981        no                   900
                          8081        no                  1500
                          82          no                  6300
8081      no              7981        no                  7000
                          81          no                     0
                          82          no                  2000
8082      no              81          no                  7000
81        no              83          no                  1095
82        no              8082        no                  4800
                          83          no                  1100
                          88          se                  2148
83        no              84a         no                  1900
                          87b         se                  1000
84a       no              84b         no                  1100
                          87a         se                   250
84b       no              86a         se                   700
85        no              84b         no                  9500

In [21]:
df.loc[(slice(None), "no", slice(None), slice(None)), :]

                                                          [MW]
to_node_# to_node_country from_node_# from_node_country
8082      no              81          no                  7000
80        no              82          no                  6300
81        no              83          no                  1095
82        no              83          no                  1100
                          88          se                  2148
83        no              84a         no                  1900
84a       no              84b         no                  1100
83        no              87b         se                  1000
79        no              80          no                  5500
                          92          uk                  5000
7981      no              93          uk                  1400
80        no              8081        no                  1500
8081      no              81          no                     0
7981      no              81          no                 13700
79        no              7981        no                 13700
82        no              8082        no                  4800
84b       no              86a         se                   700
84a       no              87a         se                   250
85        no              84b         no                  9500
80        no              7981        no                   900
8081      no              82          no                  2000
                          7981        no                  7000

In [16]:
df.loc[(3)]

KeyError: 3